* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  height: 100vh;
  padding: 20px;
  background: #e9e4ec;
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 5fr 2fr;
}
